.foot {
  background-image: url(../assets/footer-bg.png); 
  background-position: center; /* or 50% */
  background-repeat: no-repeat;
  background-size: 600px 300px; /* or 'contain' for responsiveness */
  /* Other potential styles */
  /* background-color: #343148; */
  /* box-shadow: 4px 4px; */
}

.con {
  background-color: rgba(55, 44, 68, 0.9); /* Using rgba for background opacity */
  height: 100%;

  /* Other potential styles */
  /* position: absolute; */
}
